
<div class="banner">
<div class="home-navbar d-flex justify-content-between align-items-center">

    <i class="fa-solid fa-camera-retro"></i>

  <%= link_to "Login", new_user_session_path, class: "nav-link text-white" %>
  </div>
  <div class="container">
    <div class="row">
      <div class="col-12 text-center justify-content-center align-items-center">
        <div class="app-name d-flex justify-content-center align-items-center"><i class="fa-solid fa-camera-retro"></i><h1 class="text-white">CAMERA BUDDY</h1></div>
          <p class="fs-4 quote text-white">"📸 Borrow. Shoot. Return. Need a camera for a day? Grab one. Shoot your thing. Give it back.<br>
  🎬 Rent pro gear without the pro price.<br>
  💰 Got a camera collecting dust? List it. Make cash. Simple as snap."</p>
          <%= link_to 'Find cameras', cameras_path, class: 'btn btn-primary mt-3' %>
        </div>
      </div>
    </div>
    <div class="home-footer mt-3">
      <div class="container">
        <p class="text-white text-center pt-3">@Camera Buddy all right reserved</p>
          <hr class="text-white">
            <div class="filters d-flex justify-content-center align-items-center">
            <i class="fa-brands fa-instagram"></i>
            <i class="fa-brands fa-facebook"></i>
            <i class="fa-brands fa-x-twitter"></i>
          </div>
        </div>
      </div>
    </div>
